body{
    background: #eaeaea;
    margin: 0;
}
div{
    box-sizing: border-box;
}
header{
    background: white;
    padding: 10px;
    font-family: sans-serif;
    font-size: 12px;
}
header h1{
    margin: 0;
}
.post1{
    background: white;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 14px;
}
.post1 img{
    width: 100%;
    height: 300px;
}
.post1 .post1-header div:first-child{
    display: inline-block;
    width: 80%;
}
.post1 .post1-header div:last-child{
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
    color: gray;
}
.post1 h3, .post1 p{
    padding: 10px;
    margin: 0;    
}
.container{
    width: 500px;
    margin: auto;
}